/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
  margin-top: 80px;
  margin-bottom: 100px;
}

.container.animate {
  opacity: 1;
  transform: translateY(0);
}

/* Projects container styles */
.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}


/* Project card styles */
.projectCard {
  max-width: 250px;
  align-self: center;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease, transform 1s ease;
  border-radius: 20px;
  padding: 10px;
  background-color: whitesmoke;
  height: 380px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: whitesmoke;
  transition: transform 0.3s ease;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Spacing between items */
}

.projectCard a {
  text-decoration: none;
}

.projectCard img {
  border-radius: 20px;
  background-color: var(--project-card-bg);
}

.projectCard h3, .projectCard p {
  margin: 0;
  color: black;
}

.projectCard.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.projectCard:hover {
  transform: scale(1.05);
}


@media (min-width: 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}